.host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
  align-items: center;
  gap: 40px;
  padding: 0 5%;
  background: var(--primary-color);
}

.login-form {
  background: var(--primary-color-dark);
  color: var(-accent-blue-color);
  padding: 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
  margin: 0;
  color: var(--white-color);
}

.title {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--white-color);
}

.input-text {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--primary-color-light);
  color: var(--white-color);
  font-size: 14px;
  line-height: 21px;
  padding: 10px 12px;
  outline: none;
  transition: all 0.3s ease;
}

.input-text:focus {
  border-color: var(--accent-blue-color);
  box-shadow: 0 0 8px rgba(11, 157, 244, 0.3);
}

.btn {
  border: none;
  background: var(--accent-blue-color);
  color: var(--primary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background: var(--btn-hover-color);
}

.logo {
  height: auto;
  justify-self: center;
}


.btn:active {
  transform: scale(0.98);
}


.input-text.input-error {
  border-color: var(--error-color);
  background-color: rgba(255, 84, 84, 0.05);
  box-shadow: 0 0 8px rgba(255, 84, 84, 0.2);
}

.input-text.input-error:focus {
  border-color: var(--error-color);
  box-shadow: 0 0 12px rgba(255, 84, 84, 0.1);
}

.error-message {
  display: block; 
  margin: 8px auto 0px;
  color: var(--error-color);
  font-size: 13px;
  font-weight: 500;
}

.error-message span:first-child {
  font-size: 16px;
}
.login-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: var(--white-color);
}

.login-link a {
  color: var(--accent-blue-color);
  text-decoration: none;
  font-weight: 500;
}

.login-link a:hover {
  text-decoration: underline;
  cursor: pointer;
}


