.logo {
  width: 60px;
  height: 60px;
  margin-right: 8px;
  flex-shrink: 0;
  background-color: var(--white-color);
  border-radius: 50%;
  box-shadow:  2px 2px 4px #1a2f45;
} 
.header {
display: grid;
grid-template-columns: 1fr 16fr auto;
height: 60px;
justify-content: space-between;
align-items: center;
padding: 12px 24px;
background: var(--accent-blue-color);
border-bottom: 2px solid var(--accent-blue-color);
color: var(--white-color);
text-shadow: 2px 2px 4px #1a2f45;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}



.title {
  font-size: 24px;
  font-weight: 800;
  margin: 0;
  letter-spacing: -0.5px;
  color: var(--white-color);
}

.user-section {
  display: flex;
  align-items: center;
  gap: 24px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
  padding-right: 16px;
  border-right: 1px solid var(--white-color);
}

.username {
  font-size: 14px;
  font-weight: 700;
  color: var(--white-color);
  text-transform: capitalize;
}

.role {
  font-size: 11px;
  font-weight: 600;
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.logout-btn {
  padding: 8px 16px;
  background: var(--white-color);
  color: var(--primary-color);
  border: none;
  border-radius: 6px;
  font-weight: 750;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  box-shadow: 2px 2px 4px #1a2f45;
}

.logout-btn:hover {
  background: var(--primary-color);;
  color:  var(--white-color);
  transform: translateY(-1px);
  box-shadow: 2px 2px 4px #1a2f45;
}

.logout-btn:active {
  transform: translateY(0);
}

/* Адаптивность */
@media (max-width: 1200px) {
    .header {
    height: 100px;
    padding: 12px 16px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    align-items: center;
  }

  .header-left {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-self: start;
  }

  .logo {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
  }

  .title {
    font-size: 20px;
    white-space: nowrap;
  }

  .user-section {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-self: end;
  }

  .user-info {
    gap: 2px;
    padding-right: 12px;
    
  }

  .username {
    font-size: 16px;
  }

  .role {
    font-size: 14px;
  }

  .logout-btn {
    padding: 6px 12px;
    font-size: 14px;
  }


}
