@if (pump) {
    <mat-card class="app-pump-card">
      <div class="card-header">
        <span class="card-title">НАСОС №{{ pump.id }}</span>
        <span class="card-status"> Режим {{pump.mode}}</span>
        <!-- Проверка наличия масла -->
        @if (pump.oil != null) {
            <span class="card-oil">Масло №{{pump.oilId}}</span>
        } @else {
            <span class="card-oil">Масло отсутствует</span>
        }
    </div>

      <div class="card-sections">
        <!-- Давление -->
        <div class="card-section">
          <div class="section-title">ДАВЛЕНИЕ</div>
          <div class="params">
            <div class="param">
              <span>Вход</span>
              <span class="value">{{pump.pressureIn}}</span>
              <span class="unit">бар</span>
            </div>
            <div class="param">
              <span>Выход</span>
              <span class="value">{{pump.pressureOut}}</span>
              <span class="unit">бар</span>
            </div>
          </div>
        </div>
    
        <!-- Температура -->
        <div class="card-section">
          <div class="section-title">ТЕМПЕРАТУРА</div>
          <div class="params">
            <div class="param">
              <span>Корпус</span>
              <span class="value">{{pump.temperatureBody}}</span>
              <span class="unit">°C</span>
            </div>
            <div class="param">
              <span>Подшипник</span>
              <span class="value">{{pump.temperatureBearing}}</span>
              <span class="unit">°C</span>
            </div>
          </div>
        </div>
    
        <!-- Энергия -->
        <div class="card-section">
          <div class="section-title">ЭНЕРГИЯ</div>
          <div class="params">
            <div class="param">
              <span>Мощность</span>
              <span class="value">{{pump.power}}</span>
              <span class="unit">кВт</span>
            </div>
            <div class="param">
              <span>Обороты</span>
              <span class="value">{{pump.shaftRotationFrequency}}</span>
              <span class="unit">об/мин</span>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Большие значения внизу -->
      <div class="card-big-values">
        <div class="big-value">
          <span class="title">УРОВЕНЬ МАСЛА</span>
          <span class="value">{{pump.oilLevel}} %</span>
        </div>
        <div class="big-value">
          <span class="title">ТЕМПЕРАТУРА МАСЛА</span>
          <span class="value">{{pump.oilTemperature}} °C</span>
        </div>
        <div class="big-value">
          <span class="title">ДАВЛЕНИЕ МАСЛА</span>
          <span class="value">{{pump.oilPressure}} бар</span>
        </div>
        <div class="big-value">
          <span class="title">ВИБРАЦИЯ</span>
          <span class="value">{{pump.vibration}} мм/c</span>
        </div>
      </div>
    </mat-card>
}@else {
    <h1>Нет информации о насосах</h1>
}
