.mat-mdc-card {
  background: #0d2137;
  border-radius: 8px;
  border: 1px solid #1f5fa8;
  padding: 16px;
  color: #ffffff;
}

/* Шапка карточки - название, статус, масло */
.card-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 12px;
  align-items: center;
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #1f5fa8;
}

.card-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-status {
  background: #ffffff;
  color: #0d2137;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
}

.card-oil {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Три заголовка (ДАВЛЕНИЕ, ТЕМПЕРАТУРА, ЭНЕРГИЯ) */
.card-header-titles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #1f5fa8;
}

.header-title-section {
  text-align: center;
}

.header-title {
  font-size: 11px;
  font-weight: 700;
  color: #4da6ff;
  text-transform: uppercase;
}

/* Три секции с параметрами */
.card-sections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  margin-bottom: 16px;
}

.card-section {
  background: #1a2f45;
  border-radius: 6px;
  padding: 12px;
}

.params {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.param {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 4px;
  font-size: 12px;
}

.param span:first-child {
  color: #999;
}

.param .value {
  text-align: right;
  font-weight: 700;
}

.param .unit {
  font-size: 10px;
  color: #999;
}

/* Четыре большие карточки внизу */
.card-big-values {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
}

.big-value {
  background: #ffffff;
  color: #0d2137;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  text-align: center;
}

.big-value .title {
  font-size: 10px;
  font-weight: 700;
  color: #4da6ff;
  text-transform: uppercase;
  margin-bottom: 8px;
  line-height: 1.2;
  white-space: nowrap;
}

.big-value .value {
  font-size: 18px;
  font-weight: 700;
  color: #0d2137;
}

/* Половина экрана*/
@media (max-width: 1024px) {
  .card-sections {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card-big-values {
    grid-template-columns: 1fr 1fr;
  }

  .mat-mdc-card {
    padding: 12px;
  }
}