.layout {
  height: 100vh;
}

.sidebar {
  width: 260px;
  background: #0F1F2E;
  color: #8892A6;
}

.content {
  padding: 16px;
  background: #0A1628;
}
.active-link {
  background-color: #0E324B;
  font-weight: 600;
  color: #0A9FF4;
}
