.layout {
  height: calc(100vh);
}

.sidebar {
  width: 260px;
  background: #0D2137;
  border-radius: 0%;
  border-right: 2px solid #04406c;
}
 
.content {
  padding: 16px;
  background: #0A1628;
}

.active-link {
  background-color: #1A2F45;
  font-weight: 600;
} 

.mat-mdc-nav-list .mat-mdc-list-item {
    border-radius: 0%;
 }

@media (max-width: 1024px) {
  .sidebar {
    width: 110px;
  }
}