.layout {
  height: calc(100vh);
}

.sidebar {
  width: 260px;
  background: var(--primary-color);
  border-radius: 0%;
  border-right: 2px solid var(--border-color);
}
 
.content {
  padding: 16px;
  background: var(--primary-color-dark) ;
}

.active-link {
  background-color: var(--primary-color-light);
  font-weight: 600;
} 

.mat-mdc-nav-list .mat-mdc-list-item {
    border-radius: 0%;
 }

@media (max-width: 1024px) {
  .sidebar {
    width: 110px;
  }
}