<div class="oil-page">
  <div class="header-actions">
  @if (!auth.hasRole('Engineer')) {
    <button 
      mat-raised-button 
      class="create-btn" 
      (click)="goToCreate()">
      Создать масло
    </button>
  }

  <div class="view-controls">
    <button 
      mat-icon-button 
      [class.active]="viewMode() === 'cards'"
      (click)="toggleViewMode('cards')"
      matTooltip="Вид карточек">
      <mat-icon>dashboard</mat-icon>
    </button>
    <button 
      mat-icon-button 
      [class.active]="viewMode() === 'table'"
      (click)="toggleViewMode('table')"
      matTooltip="Вид таблицы">
      <mat-icon>table_chart</mat-icon>
    </button>
  </div>
</div>

  @if (viewMode() === 'cards') {
    <div class="oil-card__wrapper">
      @for (oil of oils(); track oil.id) {
        <app-oil-card [oil]="oil"></app-oil-card>
      }
      @if (oils().length === 0) {
        <p class="no-data">Нет масел</p>
      }
    </div>
  }

  @if (viewMode() === 'table') {
    <div class="table-container">
      <table mat-table [dataSource]="oils()" class="oils-table">
        
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let oil" class="cell-id">{{ oil.id }}</td>
        </ng-container>

        <!-- tan Column -->
        <ng-container matColumnDef="tan">
          <th mat-header-cell *matHeaderCellDef>Кислотное число</th>
          <td mat-cell *matCellDef="let oil">
            {{ oil.tan }}
          </td>
        </ng-container>

        <!-- Viscosity Column -->
        <ng-container matColumnDef="viscosity">
          <th mat-header-cell *matHeaderCellDef>Вязкость (cSt)</th>
          <td mat-cell *matCellDef="let oil">{{ oil.viscosity }}</td>
        </ng-container>

        <!-- Water Content Column -->
        <ng-container matColumnDef="waterContent">
          <th mat-header-cell *matHeaderCellDef>Содержание воды (%)</th>
          <td mat-cell *matCellDef="let oil">{{ oil.waterContent }}</td>
        </ng-container>

        <!-- Installation Date Column -->
        <ng-container matColumnDef="installationDate">
          <th mat-header-cell *matHeaderCellDef>Дата заливки</th>
          <td mat-cell *matCellDef="let oil">{{ formatDate(oil.installationDate )}}</td>
        </ng-container>

        <!-- Operating Hours Column -->
        <ng-container matColumnDef="operatingHours">
          <th mat-header-cell *matHeaderCellDef>Отработано часов</th>
          <td mat-cell *matCellDef="let oil">{{ oil.operatingHours }}</td>
        </ng-container>

        <!-- Operating Cycles Column -->
        <ng-container matColumnDef="startStopCycles">
          <th mat-header-cell *matHeaderCellDef>Отработано циклов</th>
          <td mat-cell *matCellDef="let oil">{{ oil.startStopCycles }}</td>
        </ng-container> 

        <!-- Wear Column -->
        <ng-container matColumnDef="wear">
          <th mat-header-cell *matHeaderCellDef>Износ</th>
          <td mat-cell *matCellDef="let oil">{{ oil.wear }}</td>
        </ng-container>

        <!-- Сontamination Column -->
        <ng-container matColumnDef="contamination">
          <th mat-header-cell *matHeaderCellDef>Загрязнение</th>
          <td mat-cell *matCellDef="let oil">{{ oil.contamination }}</td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Состояние</th>
          <td mat-cell *matCellDef="let oil">{{ oil.status }}</td>
        </ng-container>
        <!-- Pump ID Column -->
        <ng-container matColumnDef="PumpId">
        <th mat-header-cell *matHeaderCellDef>ID насоса</th>
        <td mat-cell *matCellDef="let oil">
          @if (oil.pumpUsage && oil.pumpUsage.pumpId && oil.pumpUsage.pumpId > 0) {
            {{ oil.pumpUsage.pumpId }}
          } @else {
            <span>—</span>
          }
        </td>
        </ng-container>

        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        
        <!-- Data Row -->
        <tr 
          mat-row 
          *matRowDef="let row; columns: displayedColumns;"
          class="clickable-row"
          (click)="!auth.hasRole('Engineer') && goToEdit(row.id)"
          [style.cursor]="auth.hasRole('Engineer') ? 'default' : 'pointer'">
      </tr>
      </table>

      @if (oils().length === 0) {
        <p class="no-data">Нет масел</p>
      }
    </div>
  }
</div>
