.footer {
  color: #ffffff;  
  background-color: #0B9DF4;
  text-align: right;
  border-top: 1px solid #04406c;
}
.footer p{
    padding-bottom: 10px;
    text-align: center;
}
.header {
  color: #0F1F2E;
  background-color: #0B9DF4;
  padding: 4px;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  flex-shrink: 0;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
}
.logo {
  width: 60px;
  height: 60px;
  margin-right: 8px;
  flex-shrink: 0;
  background-color: #efe7e7;
  border-radius: 50%;
}
