.footer {
  color: var(--white-color);  
  background-color: var(--accent-blue-color);
  text-align: right;
  border-top: 1px solid var(--border-color);
}
.footer p{
    padding-bottom: 10px;
    text-align: center;
}

